<!DOCTYPE html>
<html>
  <head>
    <title>Unidad</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<%= link_to "Torres", torres_path %>
  <body>
  <header class="navbar navbar-fixed-top navbar-inverse">
 <div class="container">

 <nav>
 
 </nav>
 </div>
</header>
    <%= yield %>
  </body>
</html>
